<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #img1{
            width: 128px;
            height: 128px;
            border-radius: 100%;
        }
        .btn1{
            width: 140px;
            height: 40px;
            background-color: red;
        }
    </style>
</head>
<body>
    <h1>Ваш профиль</h1>
    <h2>Информация о профиле</h1>
    <img id="img1" src="{{ user.profile_picture.url }}" alt="">
    <p>ID: {{ user.id }}</p>
    <!-- <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Имя - <input type="text" name="first_name" value="{{ user.first_name }}"></p>
    <p>Фамилия - <input type="text" name="last_name" value="{{ user.last_name }}"></p>
    <p>Почта - <input type="text" name="email" value="{{ user.email }}"></p>
    <p>Номер телефона - <input type="text" name="phone_number" value="{{ user.phone_number }}"></p>
    <p>Изменить фото профиля - <input type="file" name="profile_picture"></p>
    <input type="submit" value="Save">
    </form>
    <br>
    <a href="{% url 'change_password' %}">
        <input class="btn1" type="button" value="Сбросить пароль">
    </a> -->
    <!-- <hr>
    <hr> -->
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ ctx_form.as_p }}
        <input type="submit" value="Save">
    </form>
</body>
</html>