<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #img1{
            width: 128px;
            height: 128px;
            border-radius: 100%;
        }
        .btn1{
            width: 140px;
            height: 40px;
            background-color: red;
        }
    </style>
</head>
<body>
    <h1>Ваш профиль</h1>
    <h2>Информация о профиле</h1>
    <img id="img1" src="{{ user.profile_picture.url }}" alt="">
    <p>ID: {{ user.id }}</p>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ ctx_form.as_p }}
        <input type="submit" value="Save">
    </form>
    <br>
    <br>
    <a href="{% url 'change_password' %}">
        <input class="btn1" type="button" value="Сбросить пароль">
    </a>
    <br>
    <br>
    <a href="{% url 'logout' %}">
        <input type="button" value="Выйти из уч.записи">
    </a>
</body>
</html>