<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/product.css">
    <title>Document</title>
</head>
<body>
    <div id="parrent">
        <div id="header">
            <h1>{{ genres.name }}</h1>
        </div>
        <div id="block1">
            {% for i in products %}
            <div class="card">
                <img class="product-image" src="{{ i.image.url }}" alt="">
                <h1>Имя: {{ i.name }}</h1>
                <p>Состав: {{ i.structure }}</p>
                <p>Рейтинг: {{ i.rate }}</p>
                <p>Цена: {{ i.price }}</p>
            </div>
            {% empty %}
            <li>No products available for this genre.</li>
            {% endfor %}
        </div>
    </div>
</body>
</html>